body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d1117;
  color: white;
  font-family: Arial, sans-serif;
}

.container h1 {
  font-size: 5rem;
}
