body {
  font-family: Arial, sans-serif;
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

h1 {
  color: #333;
}

.loader {
  border: 6px solid #ddd;
  border-top: 6px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* stays always */
}

@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

li {
  background: #f2f2f2;
  margin: 8px 0;
  padding: 10px;
  list-style: none;
  border-radius: 5px;
}
